<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Test</title>
</head>
<body>

<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=915621246164-v0qg2t6ptjk6jlj6g6hggvmnnh8ul1nd.apps.googleusercontent.com&response_type=code&redirect_uri=http://localhost:8080/login/google&scope=https://www.googleapis.com/auth/userinfo.email">구글
    로그인</a>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=66323ceffc6f43bec404a2f2addbd415&redirect_uri=http://localhost:8080/login/kakao&response_type=code">카카오
    로그인 </a>
</body>
</html>
